Source: piserial
Section: contrib/electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: no
Homepage: https://revolutionpi.com/
Vcs-Browser: https://github.com/RevolutionPi/piserial
Vcs-Git: https://github.com/RevolutionPi/piserial.git
Build-Depends: debhelper-compat (= 12), cmake, libtss2-dev (>= 2.1)
Standards-Version: 4.3.0

Package: piserial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Revolution Pi serial number utility
 Retrieve the RevPi's serial number and generate the factory-default password.
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
