Source: piserial
Section: contrib/electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: no
Homepage: https://revolutionpi.com/
Vcs-Browser: https://gitlab.com/revolutionpi/piserial
Vcs-Git: https://gitlab.com/revolutionpi/piserial.git -b debian/bookworm
Build-Depends: debhelper-compat (= 13), cmake, libtss2-dev (>= 3.0)
Standards-Version: 4.6.2

Package: piserial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Revolution Pi serial number utility
 Retrieve the RevPi's serial number and generate the factory-default password.
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
